@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: "Noto Sans", sans-serif !important;
}

.header_menu {
  ul {
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.mycontent {
  h2 {
    font-weight: 700;
    margin-top: 0.5rem;
    :hover {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

.footer_menu {
  ul {
    display: flex;
    gap: 1rem;
    font-size: 0.5rem;
  }
}